.placeBets {
  padding: 10px 0px;
}
.betsPlaced {
  padding-top: 80px;
}
.betsTimer {
  padding-bottom: 0px;
}
.betsContainer {
  background-image: linear-gradient(
    to right,
    transparent,
    black,
    black,
    transparent
  );
}
/* Bets/Chips Images */
.betsImg:hover,
.betsImg:focus {
  color: #ffffff;
  background: #e70707;
  box-shadow: 0 0 5px #e70707, 0 0 20px #e70707, 0 0 50px #e70707,
    0 0 100px #e70707;
}
.betsImg {
  height: 5rem;
  width: 5rem;
  margin: 10px 5px;
  text-transform: uppercase;
  border-radius: 50%;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
}
/* Remove bets btn */
.removeBets:hover,
.removeBets:focus {
  color: #ffffff;
  background: #e70707;
  border: 1px solid #e70707;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #e70707, 0 0 20px #e70707, 0 0 50px #e70707,
    0 0 100px #e70707;
}
.removeBets {
  padding: 10px 20px;
  margin: 18px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.699);
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}
