.bjContent {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  background-image: url("/imgs/table.jpg");
}
.introName {
  padding-top: 150px;
}
/* Button style */
.playBj:hover,
.playBj:focus {
  color: #ffffff;
  background: #1eff00;
  border: 1px solid #1eff00;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #1eff00, 0 0 20px #1eff00, 0 0 50px #1eff00,
    0 0 100px #1eff00;
}
.playBj {
  padding: 10px 20px;
  margin: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background-color: #229e11bb;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

h2,
h3 {
  color: white;
}
