.sideNavBar {
  display: flex;
}

.ulSideBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 10px 15px;
  margin: 15px 20px;
  width: 30px;
}
.navBtn {
  color: #ba64e9;
  font-size: 23px;
}
.navBtn:hover {
  color: white;
}
.ulSideBar li:nth-child(6) {
  margin-bottom: 10rem;
}
