.rank ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  margin: 0 10px;
}

.rank img {
  display: block;
  margin: 5px auto;
  box-shadow: #bb51f5 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rank li i {
  transition: ease-in-out 0.3s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 1.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .image-container {
  position: relative;
  display: inline-block;
}

.tooltip .trophy-badge {
  position: absolute;
  bottom: 0px;
  right: -5px;
  font-size: 15px;
  background-color: black;
  box-shadow: #bb51f5 0 0 10px;
  color: black;
  padding: 1px 2px;
  padding-bottom: 2px;
  border-radius: 50%;
}

.score {
  background-color: #bc51f5b0;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  margin: 0;
}
