.warningMsg span {
  color: white;
  font-size: large;
  font-weight: 700;
}
.warningMsg {
  padding: 65px 0px;
}

.dealer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.btnBox {
  padding-bottom: 5vh;
}
.player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.cards {
  width: 8vh;
  height: 12vh;
}
